.sympotmes{  font-stretch: expanded;
              font-family: sans-serif;
            font-weight: 900;
    letter-spacing: 1rem;
    
}
.symptomes2
{
    font-stretch: expanded;
              font-family: sans-serif;
            font-weight: 400;
    letter-spacing: 1rem;
}
.itmes{
    font-stretch: expanded;
              font-family: sans-serif;
            font-weight: 200;
    letter-spacing: 2px;
}